# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Full test

on:
  push:
    branches: [ main]
  pull_request:
    branches: [ main ]

jobs:
  build:
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.9", "3.13"]

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v3

    - uses: chartboost/ruff-action@v1 # Fail fast if there are any linting errors
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Set up .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '6.0.x'
    
    - name: Install dependencies
      run: |
        uv pip install --upgrade pip
        uv pip install pytest pytest-cov
    - name: Install mikeio1d (basic)
      run: |
        uv pip install .[test]
    - name: Test with pytest (basic)
      run: |
        uv run pytest -c .pytest-ci.ini 
    - name: Install mikeio1d (optional dependencies)
      run: |
        uv pip install .[all]
    - name: Test with pytest (optional dependencies)
      run: |
        uv run pytest -c .pytest-ci.ini -m "optional_dependency"
